@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.encabezado {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to right, #fcc4f9, #ffffff77);
    animation: slideIn 1s ease-in-out;
}

body {
    background-image: linear-gradient(to right, #fadaf8, #ffffff77);
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    body {
        /* Aquí puedes agregar estilos específicos para pantallas más pequeñas */
    }
}

.encabezado h1 {
    font-size: 70px;
    color: #333;
}

.encabezado h2 {
    font-size: 20px;
    color: #666;
}


.contenido {
    text-align: center;
    margin-top: 20px;
    
}

.contenido img {
    width: 500px;
    border-radius: 20px;
    margin: auto;
}

.form {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    background-color: #fadaf8cb;
}

.menu ul li a {
    margin-right: 100px;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a:hover {
    background-color: #ff97fa;
}

.piedepagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-image: linear-gradient(to right, #fcc4f9, #ffffff77);
    height: 200px;
    overflow: hidden;
}

.contactenos,
.siguenosennuestrasredes,
.nuestrosservicios {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    list-style-type: none;
    height: auto;
}

.siguenosennuestrasredes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siguenosennuestrasredes img {
    max-width: 10%;
    height: auto;
    margin-bottom: 10px;
}

.iconos ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.iconos li {
    margin: 100px;
    padding: 10px;
    border-radius: 5px;
}

.iconos li:hover {
    background-color: #ff97fa;
}

.iconos li a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

.iconos li img {
    max-width: 200px;
    height: auto;
}

.foters h2 {
    font-size: 20px;
    color: #666;
    text-align: center;
}

.formcrear {
    background-color: #fff;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.tarea {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    list-style-type: none;
    height: auto;
}

.tareas li:hover {
    background-color: #ff97fa;
}

.tareas li a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
}

.tareas li img {
    max-width: 300px;
    height: auto;
}
